.carousel{
    max-width: 1200px;
    width: 100%;
    height: 15.5vw;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slides{
    display: flex;
    height:100% ;
    transition: transform 0.7s ease;
    will-change: transform;
    }

    .slide{
        min-width:100%;
        height: 100%;
        flex-shrink: 0;
        }

        .slide img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            }

            button.ctrl{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
                padding: 8px 12px;
                cursor: pointer;
                font-size: 18px;
                border-radius: 6px;
                box-shadow: rgba(0, 0, 0, 15);
                user-select: none;
            }

            #prev{ left: 10px;}

            #next{ right: 10px;}
             
            .dots{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 12px;
                display: flex;
                gap: 8px;
            }
            .dot{
                width: 10px;
                height: 10px;
                background-color: aliceblue;
                border-radius: 50%;
                cursor: pointer;
                opacity: 0.6;
            }

            .dot.active{
                opacity: 1;
                transform: scale(1.15);
            }


        
