/* *{
    margin : 0 auto 
} */

@font-face {
  font-family:'isisFont';
  src: url('fonts/Handmade.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #fff8f8;
    font-family: 'isisFont';
 }

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #b84c65;
}
.logo{
    height: 60px;
    width: 10%;
}

.logo img{
    width: 160px;
    margin-left: 5px;
    margin-bottom: 6px;
    position: relative;
    bottom: 9px;

}

nav{
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
}

.menu{
    height: 60px;
    width: 40%;
    display: flex;
    align-items: center;
}



main{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-top: 60px;
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    align-items: center;
}

nav li {
    background-color: #fff8f8;
    padding: 12px;
    width: 85px;
    border-radius: 27px;
    text-align: center;
    color: #ef88a2;
}

.pesq{
    border: solid 2px #e00f40be;
    height: 38px;
    width: 67%;
    display: flex;
    align-items: center;
    border-radius: 45px;
}
.perfil{
    fill:#ed99d7;
    height: 25px;
    width: 35px;
}
.compras{
    fill:#ed99d7;
    height: 25px;
    width: 35px; 
}


/* CSS de produtos */

.produtos{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.pr1{
    width: 22%;
    height: 160px;
    display:flex;
    justify-content: center;
    align-items: center;
    
   
}

.pr2{
    width: 22%;
    height: 160px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pr3{
    width: 22%;
    height: 160px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pr4{
    width: 22%;
    height: 160px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.background1{
    width: 80%;
    height: 140px;
    align-items: center;
    border-radius: 10px;
    background-color: #b84c65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background2{
    width: 80%;
    height: 140px;
    align-items: center;
    border-radius: 10px;
    background-color: #ea97aa;
     display: flex;
    justify-content: center;
    align-items: center;
}

.background3{
    width: 80%;
    height: 140px;
    align-items: center;
    border-radius: 10px;
    background-color: #f7cad5; display: flex;
    justify-content: center;
    align-items: center;
}

.background4{
    width: 80%;
    height: 140px;
    align-items: center;
    border-radius: 10px;
    background-color: #c02f51;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProd1{
    width: 60%;
    height: 120px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("./imagens/cabelo.jpg");
    background-size: cover;
}

.imgProd2{
    width: 60%;
    height: 120px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("./imagens/make.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1px -42px; 
}

.imgProd3{
    width: 60%;
    height: 120px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("./imagens/corpo3.jpg");
    background-size: cover;
}

.imgProd4{
    width: 60%;
    height: 120px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("imagens/produto.jpg");
    background-size: cover;
    background-position: center;
}



/* Final de produtos*/ 
footer{
    width: 100%;
    height: 120px;
    display: flex;
    background-color: #ba1065d0;
    position: absolute;
    bottom: 0;
}
 .rodape{
    width: 100%;
    height:198px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .rodinfo{
    width: 20%;
    height: 118px;
 }

.titulorod{
    height: 40px;
    width:100%;
    text-align: center;
    color: #f7cad5;
    font-size: 25px;
}

.lista-rod{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
}
 .lista-rod ul{
    list-style-type: none;
    padding: 0;
    color: #f7cad5;
    text-align: center;
 }


 
.botaoRod{
    background-color:#ea97aa ;
    padding: 5px;
    width: 84px;
    border-radius: 12px;
    border: none;
    color: white;
}

.novidades{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}


